= link_to @user.email, @user
#{l @item.updated_at}に更新
- if user_signed_in? && @user == current_user
  = link_to '編集する', edit_user_item_path(@user, @item)
  = link_to '削除する', user_item_path(@user, @item), method: :delete, data: {confirm: 'よろしいですか？'}

%h1= @item.title

.tag_list= render 'items/tag_list', tag_list: @item.tag_list
.content.border= markdown(@item.content)

%hr

= render template: 'comments/index'

- if user_signed_in?
  = render 'comments/form'
- else
  あなたもコメントしませんか？
  %br
  = link_to 'ユーザー登録はこちら', new_user_registration_path, class: 'btn btn-success'

%hr
= link_to 'もどる', @user
